  
  <!-- Alert Modal -->
  <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="alertModalLabel">Alerta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body" id="alertModalContent"></div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
      </div>
      </div>
  </div>

  <footer class="fixed-bottom d-flex justify-content-around">
    <span class="d-none d-lg-block pt-3" style="font-size: 1.3em;">Desenvolvido por <a class="businnes-info" href="<%- attr.business.link; %>" target="_blank"><%- attr.business.name; %></a> - <%- attr.business.since; %> ~ <%- new Date().getFullYear(); %> - Todos os direitos reservados.</span>
    <a href="/" class="d-block d-lg-none fas fa-home fa-lg pt-4 mx-2 menulink"></a>
    <a href="/pedidos" class="d-block d-lg-none far fa-list-alt fa-lg pt-4 mx-2 menulink user-hash"></a>
    <a href="/destaque" class="d-block d-lg-none far fa-star fa-lg pt-4 mx-2 menulink"></a>
    <div id="cart-qty" class="m-0">
      <a href="/carrinho" class="d-block d-lg-none fas fa-shopping-basket fa-lg pt-4 mx-2 menulink"></a>
    </div>
  </footer>

  <script type="text/javascript" src="/js/jquery.min.js" ></script>
  <script type="text/javascript" src="/js/popper.min.js" ></script>
  <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
  <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/js/tempusdominus-bootstrap-4.min.js"></script>
  <script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/jquery-che.js" ></script>
  <script type="text/javascript" src="/js/alert.js"></script>




  </body>
</html>