<%- contentFor('layout') %>
<%- include('header.ejs') %>


<div class="container text-center pt-5">

    <div class="row pt-5">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    
                    <div class="float-left pt-2"><strong>Mensagens WhatsApp</strong></div>
                    <div class="float-right">
                        <button id="restart_wpp" type="button" class="btn btn-outline-primary">Reiniciar WhatsApp</button>
                    </div>
                </div>
                <div class="card-body">
                    <textarea id="whatsapp_msg" class="form-control" rows="15">Aguarde o QR Code para iniciar seu WhatsApp</textarea>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div id="whatsapp_qrcode"></div>
        </div>

    </div>

</div>


<%- include('footer.ejs') %>